*{
    margin: 0%;
    box-sizing: border-box;
}

/* navbar Style*/

.navbar1 {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3 ;
    
}

.bg-light {
    background-color: #4a74ae !important;
}
.navbar-brand{
    color: white !important;
    font-size: 30px;
    font-weight: bold;
}

.navbar-nav a{
    color: rgb(235, 230, 230) !important; 
    font-size: 18px;
}

.navbar-nav a:hover{
    color: rgb(252, 246, 246) !important; 
}
.active a{
    color: white !important;
}

/*End navbar Style*/

/* Start Section 1*/

.Hesder-section{
    background: fixed;
    background-image:url(../imgs/course.jpg);
    background-size: cover;
    background-repeat: no-repeat;
      
}
.Hesder-section .overlay{
    background-color:#9ba5c263;
    
    min-height: 300px;
    padding-top: 95px;
}

.row{
    position: relative;
}

.row h1{
    position: absolute;
    top: 100px;
    left: 50% ;
    color: rgb(224, 222, 222);
    margin-left: -75px; 
    font-weight: bold; 
    transition: 0.5s;
}
.row h1:hover{
    color: white;
    
}
/*end Section 1*/

.main_div {
    margin: 40px;
    display: flex;
    align-items: center;
}
.main_div img{
    max-width: 320px;
    max-height: 200px;
    margin-right: 20px;
}
.content {
    line-height: 27px;
    color: rgb(65, 116, 117);
}
.content h4{
    
    color: rgb(0, 0, 0);
    font-size: 30px;
}
.all_chievements{
    margin: 40px;
}
.all_chievements .card{
  display: inline-block;
  margin: 15px;
}

/*Start footer Section*/
.footer-section h4 {
    font-weight: bold;
    margin: 40px 0px;
    color: white;
 }
 .footer-section p {
     color: #d9dbdf;
 }
 .footer-section ul li{
     list-style-type: none;
     margin-left: -33px;
     color: #d9dbdf;
     line-height: 35px;
 }
 .footer-section ul li:hover{
     color: white;
 }
 .contact i{
     color: #f0f0f7;
     font-size: 30px;
     margin:  5px 5px 40px 5px;
     transition: 0.5s;;
 }
 .call i{
     color: white;
     float: left;
     margin-right: 10px;
 }
 
 .contact i:hover{
     color: #3e33b8;
 }
 .footer-section{
     
     background-image: linear-gradient( 130deg, #cc30cc 30%,#562be2b5); 
 }
 /*End footer Section*/