
*{
    margin: 0%;
    box-sizing: border-box;
}

/* navbar Style*/

.navbar1 {
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    z-index: 3 ;
    
}

.bg-light {
    background-color: #4a74ae !important;
}
.navbar-brand{
    color: white !important;
    font-size: 30px;
    font-weight: bold;
}

.navbar-nav a{
    color: rgb(235, 230, 230) !important; 
    font-size: 18px;
}

.navbar-nav a:hover{
    color: rgb(252, 246, 246) !important; 
}
.active a{
    color: white !important;
}

/*End navbar Style*/

/*navbar 2 Style*/

.navnar2{
    margin-top: 70px;
    background-color: white !important;
}
.User-img {
    background-size:cover;
    background-repeat: no-repeat;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-image: url(../imgs/student3.jpg);
    margin-right: 10px;
}
.active2 a{
    color: blue !important;
}
.active2 a:hover{
    color: rgb(4, 4, 172) !important;
}
.progress{
    float: right;
    min-width: 500px;
}
/*end navbar2 Style */
.My-stuff{
    margin-top: 40px;
}
.My-stuff li{

    list-style-type: none;
    margin: 15px -5px;
    font-weight: bold;
}
.My-stuff li a{
    
    text-decoration: none;
    color: darkslategray;
    transition: 0.8s;
    color: rgb(102, 100, 100);

}
.My-stuff li a:hover {
    margin-left: 3px;
    color: black;
}

.activ{
    margin-left: 3px !important;
    color: black !important;
}
.path{
    float: right;
    align-items: center;
}

.row span{
    padding: 10px;
    margin: 5px;
}
.video-img{
    background-image: url(../imgs/useVidioImg.jpg);
    height: 320px;
    width: 500px;
    margin:35px;
     
}
.play-icon{
    text-align: center;
    margin-left: 40%;
    margin-top: 25%;
   
    color: rgb(206, 203, 203);
}
.play-icon:hover{
    color: white;
}

.modal-content2{
    background: transparent !important;
    border: none !important;
}
.buttons{
    height: 40px;
    width: 140px;
    color: white;
    background-color: #1371be;
    border: none;
    border-radius: 8px;
    margin:15px;
    
}
.form{
    margin: 20px;
}


/*Start footer Section*/
.footer-section h4 {
    font-weight: bold;
    margin: 40px 0px;
    color: white;
 }
 .footer-section p {
     color: #d9dbdf;
 }
 .footer-section ul li{
     list-style-type: none;
     margin-left: -33px;
     color: #d9dbdf;
     line-height: 35px;
 }
 .footer-section ul li:hover{
     color: white;
 }
 .contact i{
     color: #f0f0f7;
     font-size: 30px;
     margin:  5px 5px 40px 5px;
     transition: 0.5s;;
 }
 .call i{
     color: white;
     float: left;
     margin-right: 10px;
 }
 
 .contact i:hover{
     color: #3e33b8;
 }
 .footer-section{
     
     background-image: linear-gradient( 130deg, #cc30cc 30%,#562be2b5); 
 }
 /*End footer Section*/
